<main>
  <app-menu-bar />
  <app-menu-title />

  <div class="articles">
    <div class="left">
      <app-big-card photoCover="https://v16.angular.io/assets/images/logos/angular/logo-nav@2x.png" cardTitle="Noticia do Dia: Angular é pika" sunImg="dio > angular" Id="10"cardDescription="Voltei a estudar angular e a minha experiencia ta sendo legal" />
    </div>
    <div class="articles_right">
      <app-small-card Id="1" cardTitle="Angular new Version is out" sunImg="Angular.io"/>
      <app-small-card Id="2" cardTitle="Vai la da uma olhada em Qwik também" sunImg="Qwik.builder.io"/>
      <app-small-card Id="3" cardTitle="Sabia que o criado do Angular Criou o Qwik também" sunImg=""/>
    </div>
  </div>
</main>

<router-outlet></router-outlet>