<nav>
  <div class="menu">
    <div class="img_container">
      <img src="https://bessiportfolio.vercel.app/_next/static/media/mainLogo.288a5b5d.svg" alt="">
    </div>

    <span><a href="#">Blogs</a></span>
    <span> <a href="https://bessiportfolio.vercel.app">Portfolio</a></span>
  </div>

  <div class="menu">
    <span> <a href="https://github.com/EyzRyder">Github</a></span>
    <span> <a href="https://www.linkedin.com/in/gabriel-de-morai-bessi-5b0160230/">Linkedin</a></span>
  </div>
</nav>