<app-menu-title />

<div class="articles">
  <div class="left">
    <app-big-card photoCover="https://v16.angular.io/assets/images/logos/angular/logo-nav@2x.png"
      cardTitle="Noticia do Dia: Angular é pika" sunImg="dio > angular" Id="https://angular.io"
      cardDescription="Voltei a estudar angular e a minha experiencia ta sendo legal" />
  </div>
  <div class="articles_right">
    <app-small-card Id="https://v16.angular.io/docs" cardTitle="Angular new Version is out" sunImg="Angular.io" />
    <app-small-card Id="https://qwik.builder.io" cardTitle="Vai la da uma olhada em Qwik também"
      sunImg="Qwik.builder.io" />
    <app-small-card Id="https://www.youtube.com/watch?v=CEwYK6qamco"
      cardTitle="Sabia que o criado do Angular Criou o Qwik também" sunImg="" />
  </div>
</div>